BODY {
  margin: 0;
  padding: 0 40px;
  font-family: Helvetica, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

H1 {
  margin: 30px 0;
}

OL {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 0 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-auto-flow: column;
}

LI {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to top, #CCC 1px, transparent 1px,transparent);
  background-size: 100% 100%;
  min-height: 50px;
}

LABEL {
  white-space: nowrap;
}

.header {
  margin-bottom: 30px;
}

@page {
  size: A4;
}

@media print {
  BODY {
    padding: 0 20px;
  }

  .header {
    display: none;
  }

  OL {
    width: 100%;
    max-height: 100%;
    page-break-after: always;
  }

  LI {
    min-height: calc(100vh / var(--rows));
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1em 3em;
}

.controls__group {
  display: flex;
  flex-wrap: wrap;
  gap: .5em 1.5em;
}
